.fondo{
    background: url(../assets/fondoBoca.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.imagenEscudo{
    width: 80px;
}
.bg-amarillo{
    background-color: #ffd029;
}
.bg-azul{
    background-color: #004aad;
}
.btn-azul{
    background-color: #004aad;
    color: white;
}
.btn-azul:focus{
    background-color: #004aad;
    color: white;
}
.iconoAudio{
    font-size: 60px;
    color: #b99d35;
}